/* ProductCard.css */

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 20px; /* Adjust the space at the bottom */
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.2s;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  /* You can add additional styling as needed */
}
.product-card:hover {
  transform: scale(1.05);
}

.product-image-container {
  flex: 1;
  overflow: hidden;
}

.product-thumbnail {
  width: auto;
  height: 150px;
}

.product-info {
  flex: 2;
  flex-grow: 1;
  padding: 16px;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the text color from the parent element */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  /* Additional styles as needed */
}
.product-ribbon {
  background-color: orange;
  color: white;
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 8px 8px 0 0; /* Adjust for the desired corner radius, 0 on top left and top right corners */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure it's above other content */
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 8px;
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff; /* Blue price color */
  margin-bottom: 8px;
}

.original-price {
  text-decoration: line-through;
  margin-right: 8px;
  color: #777;
}

.discounted-price {
  color: #e91e63; /* Pink discounted price color */
}

.product-rating {
  font-size: 0.9rem;
  color: #ff9800; /* Orange rating color */
  margin-bottom: 8px;
}

.product-stock {
  font-size: 0.9rem;
  color: #4caf50; /* Green stock color */
  margin-bottom: 8px;
}

.product-branch {
  font-size: 0.9rem;
  color: #795548; /* Brown branch color */
  margin-bottom: 8px;
}

.product-category {
  font-size: 0.9rem;
  color: #2196f3; /* Blue category color */
  margin-bottom: 8px;
}
.add-to-cart-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* Other styles for the add-to-cart container */
}

.product-ribbon {
  background-color: #fc5c32;
  color: white;
  padding: 5px 10px; /* Adjust padding as needed */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 0 8px; /* Adjust for the desired corner radius */
}

.add-to-cart-button {
  margin-top: auto;
  background-color: #000; /* Set the background color to black */
  color: #fff; /* Text color to white */
  padding: 12px 0; /* Adjust padding to expand button width */
  border: none;
  width: 100%; /* Make the button full width */
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #333;
}

.quantity-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 100%;
  align-items: center;
  margin-bottom: 6px;
}

