* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include borders and padding in element width/height */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.trash-icon {
  cursor: pointer;
}