/* NavBar.css */

.navbar {
  position: fixed; /* Set the navbar to a fixed position */
  top: 0; /* Place it at the top of the viewport */
  left: 0;
  right: 0;
  z-index: 100; /* Set a higher z-index to make sure it's above other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fc5c32;
  padding: 10px 20px;
  color: white;
  transition: background-color 0.3s; /* Add a transition for smooth color change */
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.center {
  flex: 2;
}

.search-input {
  width: 100%;
  padding: 10px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.cart-icon {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ffff;
  color: #fc5c32;
  border-radius: 50%;
  padding: 5px 8px;
}
